@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --head-background: #100d26;
  --text-pink: #ec4391;
  --button-color: #bb4be0;
  --custom: #201652;
}

header{
  text-align: left;
  background-color: #100d26;
  font-family: 'Montserrat', sans-serif;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#headElements {
  padding-left: 6rem;
}

#name{
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-left: 1rem;
  font-size: 30px;
}

#hp1{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding:0px; 
  margin:0px; 
  letter-spacing: 5px;
}

#hp2{
  color:#ec4391;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  padding-top: 0px;
  padding:0px; 
  margin:0px; 
  letter-spacing: 2px;
}

#hp3{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

#hp4{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

button{
  font-family: 'Montserrat', sans-serif;
  background-color: #bb4be0;
  color: white;
  border-width: 0px;
  border-radius: 100px;
  width: 350px;
  height: 80px;
}

button:hover{
  background-color: #d4007f;
  box-shadow: #d4007f;

}

#bh1{
  font-weight: 600;
  padding:0px; 
  margin:0px; 
  font-size: 20px;
  letter-spacing: 1px;
}
#bh2{
  font-weight: 400;
  padding:0px; 
  margin:0px; 
}

#textarea{
  margin-left: 6rem;
  margin-top: 4rem;
}

#subtitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

#text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

#highlight {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #201652;
}
